.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/package_config_subset
.dart_tool/version
.dart_tool/flutter_build/generated_main.dart
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/.filecache
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/app.dill
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/debug_android_application.stamp
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/flutter_assets.d
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/gen_localizations.stamp
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/kernel_snapshot.d
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/kernel_snapshot.stamp
.dart_tool/flutter_build/356f3a765eb21b1a26fbd722d352844c/outputs.json
.dart_tool
.idea
build
dgph
